html,
body {
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
  width: 100%;
}

/* INICIO HEADER */

header {
  /* background-image: url("/assets/img/img1.jpg"); */
  width: 100%;
  top: 0;
  /* position: absolute; */
}

p,
h1,
h2,
h3,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 700; */
}

.contenedor-header {
  width: 100%;
}

.fondo-header {
  font-size: 0;
}

.fondo-header img {
  width: 100%;
}

.navegacion-header {
  display: flex;
  background-color: #cda410c1;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.header-izq p {
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  font-weight: 800;
  -webkit-text-stroke: 0.3px #fff;
  color: #000000;
  text-align: left;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

.header-der {
  width: 50%;
}

.header-der a {
  font-size: 20px;
}

.header-der-top {
  justify-content: flex-end;
  display: flex;
  margin-right: 5%;
}

#mobileLinks {
  visibility: hidden;
  /* flex-direction: column; */
  background-color: #cda410c1;
  filter: drop-shadow(0px 20px 10px);
  width: 100%;
  opacity: 0;
  bottom: -27px;
  left: 0;
  justify-content: space-evenly;
  visibility: hidden;
  display: flex;
  position: absolute;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  z-index: 2;
}

#mobileLinks a,
#desktopLinks a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}

#bars {
  color: #000000;
}

@media (min-width: 950px) {
  #bars {
    display: none;
  }
  #desktopLinks {
    display: flex;
    justify-content: space-between;
  }
  .header-der-top {
    display: block;
  }
}

.hidden {
  display: none;
}

/* FIN HEADER */

/* COMIENZO SECCIÓN #1 */

.intro-seccion {
  display: flex;
  flex-direction: column;
}

.intro-img img {
  width: 100%;
}

.intro-izq {
  margin: 1em;
}

.intro-izq h1 {
  color: #cda410c1;
  font-size: 25px;
}

.intro-izq p {
  color: #ffffff;
  font-size: 20px;
}

.intro-boton {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.intro-boton a {
  border-radius: 6px;
  background: transparent
    linear-gradient(180deg, #e900007d 43.75%, #f60000 100%) 0% 0%;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5em;
  width: 40%;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 950px) {
  .intro-seccion {
    display: flex;
    flex-direction: row;
  }
  .intro-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* FIN SECCIÓN #1 */
