html,
body {
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000000;
  width: 100%;
}

/* INICIO HEADER */

header {
  /* background-image: url("/assets/img/img1.jpg"); */
  width: 100%;
  top: 0;
  /* position: absolute; */
}

p,
h1,
h2,
h3,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 700; */
}

.contenedor-header {
  width: 100%;
}

.fondo-header {
  font-size: 0;
}

.fondo-header img {
  width: 100%;
}

.navegacion-header {
  display: flex;
  background-color: #cda410c1;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.header-izq p {
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  font-weight: 800;
  -webkit-text-stroke: 0.3px #fff;
  color: #000000;
  text-align: left;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

.header-der {
  width: 50%;
}

.header-der a {
  font-size: 20px;
}

.header-der-top {
  justify-content: flex-end;
  display: flex;
  margin-right: 5%;
}

#mobileLinks {
  visibility: hidden;
  /* flex-direction: column; */
  background-color: #cda410c1;
  filter: drop-shadow(0px 20px 10px);
  width: 100%;
  opacity: 0;
  bottom: -27px;
  left: 0;
  justify-content: space-evenly;
  visibility: hidden;
  display: flex;
  position: absolute;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  z-index: 2;
}

#mobileLinks a,
#desktopLinks a {
  text-decoration: none;
  color: #000000;
  margin: 0;
}

#bars {
  color: #000000;
}

@media (min-width: 950px) {
  #bars {
    display: none;
  }
  #desktopLinks {
    display: flex;
    justify-content: space-between;
  }
  .header-der-top {
    display: block;
  }
}

.hidden {
  display: none;
}

/* FIN HEADER */

/* COMIENZO SECCIÓN #1 */

.intro-seccion {
  display: flex;
  flex-direction: column;
}

.intro-img img {
  width: 100%;
}

.intro-izq {
  margin: 1em;
}

.intro-izq h1 {
  color: #cda410c1;
  font-size: 25px;
}

.intro-izq p {
  color: #ffffff;
  font-size: 20px;
}

.intro-boton {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.intro-boton a {
  border-radius: 6px;
  background: transparent
    linear-gradient(180deg, #e900007d 43.75%, #f60000 100%) 0% 0%;
  color: #ffffff;
  font-size: 20px;
  padding: 0.5em;
  width: 40%;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 950px) {
  .intro-seccion {
    display: flex;
    flex-direction: row;
  }
  .intro-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* FIN SECCIÓN #1 */

/* COMIENZO SECCION #2 */

.seccion-2 {
  background-color: #111111;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.planes-seccion {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.encabezado-planes p,
.encabezado-planes h1 {
  color: #ffffff;
  text-align: center;
}

.encabezado-planes p {
  font-size: var(--tamaño-fuente-parrafo);
}

.encabezado-planes h1 {
  font-size: var(--tamaño-fuente-titulo);
}

.combo-planes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.combo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 70%;
}

/* .img-combo {
  width: 70%;
} */

.combo img {
  border-width: 10px;
  border-color: #cda410c1;
  border-style: solid;
  width: auto;
  max-width: 100%;
}

.text-combo {
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 507px;
}

.text-combo h1,
.text-combo p {
  text-align: center;
  margin: 0;
}

.text-combo a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2%;
}

@media (min-width: 950px) {
  .combo-planes {
    display: flex;
    flex-direction: row;
  }
}

/* FIN SECCION #2 */

/* COMIENZO SECCION #3 */

.mejores-encabezado h1,
.mejores-encabezado p {
  text-align: center;
}

.mejores-encabezado h1 {
  color: #ffffff;
  font-size: var(--tamaño-fuente-titulo);
  margin-top: 50px;
  margin-bottom: 1px;
}

.mejores-encabezado p {
  margin: 0;
  margin-bottom: 2%;
  color: #cda410c1;
  font-size: var(--tamaño-fuente-titulo);
}

.mejores-productos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.mejores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-mejores {
  display: flex;
  justify-content: center;
}

.img-mejores img {
  width: 90%;
}

.text-mejores {
  width: 100%;
  /* width: 50%; */
  color: #ffffff;
  background-color: #111111;
  border-radius: 20px;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
}

.fecha-mejores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fecha-mejores ion-icon {
  font-size: 48px;
  text-align: center;
}

.text-mejores h1 {
  color: #ffffff;
  font-size: var(--tamaño-fuente-titulo);
  text-align: center;
  margin: 0;
}

.text-mejores p {
  color: #cda410c1;
  font-size: var(--tamaño-fuente-titulo);
  text-align: center;
  margin: 0;
}

.iconos-mejores {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
}

@media (min-width: 950px) {
  .mejores-productos {
    flex-direction: row;
    justify-content: center;
  }
  .mejores {
    width: 30%;
  }
}

/* FIN SECCION #3 */

/* COMIENZO SECCION #4 */

.contacto-seccion {
  display: flex;
  background-color: #111111;
  justify-content: center;
}

.contacto-container {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  width: 85%;
  background-color: #cda410c1;
  border-radius: 15px;
  margin: 3%;
  border-style: solid;
  text-align: center;
}

.opti {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  gap: 10px;
  flex-direction: column;
}

.opti-container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.opti a {
  border-radius: 6px;
  background: #e900007d;
  color: #ffffff;
  font-size: 16px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 70%;
}

@media (min-width: 950px) {
  .opti {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
    gap: 10px;
  }
  .opti a {
    border-radius: 6px;
    background: #e900007d;
    color: #ffffff;
    font-size: var(--tamaño-fuente-parrafo);
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 20%;
  }
}

/* FIN SECCION #4 */
