html,
body {
  width: 100%;
  padding: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000000;
}

/* INICIO HEADER */

header {
  /* background-image: url("/assets/img/img1.jpg"); */
  width: 100%;
  top: 0;
  /* position: absolute; */
}

p,
h1,
h2,
h3,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 700; */
}

.contenedor-header {
  width: 100%;
}

.fondo-header {
  font-size: 0;
}

.fondo-header img {
  width: 100%;
}
.contenedor-header p {
  margin: 0;
}

.navegacion-header {
  display: flex;
  background-color: #cda410c1;
  align-items: center;
  justify-content: space-between;
}

.header-der,
.header-izq {
  margin: 0 5%;
}

.header-der input {
}

.header-izq p {
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  font-weight: 800;
  -webkit-text-stroke: 0.3px #fff;
  color: #000000;
  text-align: left;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
}

.header-der {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  min-width: 450px;
}

.header-der-top {
  display: flex;
  justify-content: space-between;
}

.header-der-top a {
  text-decoration: none;
  color: #000000;
}

.header-der-bot {
  display: flex;
  justify-content: space-between;
}

.header-der-bot button {
  font-size: 20px;
}

.header-der-bot input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.servicios-header {
  display: flex;
  background-color: #0a0a0a;
  justify-content: space-around;
}

.servicios-header a {
  text-decoration: none;
  color: #ffffff;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: 2% 0%;
  font-size: 25px;
}

/* INTRO SECCION */
.seccion-1 {
}

.intro-seccion {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.intro-izq {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 50%;
}

.intro-izq h1 {
  margin-top: 100px;
  margin-left: 50px;
  color: #cda410c1;
  font-size: 40px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.intro-izq p {
  color: #ffffff;
  font-size: 30px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin-left: 50px;
}

.intro-der {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro-boton {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.intro-boton button {
  border-radius: 6px;
  background: transparent
    linear-gradient(180deg, #e900007d 43.75%, #f60000 100%) 0% 0%;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  padding: 1%;
}

.intro-img {
}

.intro-img img {
  width: 100%;
}

/* PLANES SECCION */
.seccion-2 {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.planes-seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #111111;
}

.encabezado-planes {
  text-align: center;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.encabezado-planes p {
  font-size: 30px;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.combo-planes {
  display: flex;
  width: 100%;
  margin: 5% 0;
}

.combo {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 10px;
}
.encabezado-planes h1 {
  font-size: 40px;
  color: #cda410c1;
}

.img-combo {
  /* border-width: 5px;
  border-color: #cda410c1; */
}

.img-combo img {
  border-width: 10px;
  border-color: #cda410c1;
  border-style: solid;
}
.text-combo {
  width: 50%;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.text-combo h1 {
  margin: 1%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 30px;
}
.text-combo p {
  margin: 1%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 20px;
}

.text-combo a {
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 20px;
  color: #cda410c1;
}

.pie-icon {
  width: 60px;
  height: 60px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #cda410c1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

ion-icon {
  font-size: 48px;
}

/* MEJORES SUPLEMENTOS SECCION */
.seccion-3 {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.mejores-encabezado {
  align-items: center;
}

.mejores-seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
}

.mejores-encabezado h1,
.mejores-encabezado p {
  text-align: center;
}

.mejores-encabezado h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 1px;
}
.mejores-encabezado p {
  margin: 2px;
  color: #cda410c1;
  font-size: 40px;
}

.mejores-productos {
  display: flex;
  width: 100%;
  margin: 5% 0;
  justify-content: space-around;
}

.mejores {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  gap: 10px;
}
.img-mejores {
  display: flex;
  justify-content: center;
}
.img-mejores img {
  width: 90%;

  border-width: 10px;
  border-color: #cda410c1;
  border-style: solid;
}

.text-mejores {
  width: 100%;
  /* width: 50%; */
  color: #ffffff;
  background-color: #111111;
  border-radius: 20px;
  /* width: 70%; */
  display: flex;
  flex-direction: column;
}
.text-mejores p {
  color: #cda410c1;
  font-size: 20px;
  margin-left: 15px;
}

.fecha-mejores {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.iconos-mejores {
  display: flex;
  justify-content: space-around;
  margin: 0%;
}

/* SERVICIOS */

.contacto-seccion {
  display: flex;
  background-color: #111111;
  justify-content: center;
}

.contacto-container {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  width: 85%;
  background-color: #cda410c1;
  border-radius: 15px;
  margin: 3%;
  border-style: solid;
}

.contacto-container .opti {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacto-container p {
  font-size: 25px;
  text-align: center;
}
.contacto-container h1 {
  filter: drop-shadow(4px 0px 4px rgba(125, 19, 19, 0.789));
}

.contacto-container h1 {
  margin-left: 10px;
  font-size: 30px;
}
.opti p {
  background-color: #716b6b;
  /* background: linear-gradient(
      180deg,
      rgba(233, 0, 0, 0.3969) 43.75%,
      rgba(247, 0, 0, 0.81) 100%
    )
    0% 0%; */
  /* border-radius: 8px; */
  width: 15%;
  height: 30%;
  text-align: center;
  /* border-style: solid; */
  border-color: #000000;
  font-size: 30px;
  border-width: 1px;
  margin-top: auto;
  color: #ffffff;
  margin: 0;
  padding: 1%;
}
.opti a {
  background-color: #716b6bcf;
  /* background: linear-gradient(
      180deg,
      rgba(233, 0, 0, 0.3969) 43.75%,
      rgba(247, 0, 0, 0.81) 100%
    )
    0% 0%; */
  /* border-radius: 15px; */
  border-width: 1px;
  width: fit-content;
  height: 30%;
  text-align: center;
  font-size: 2vw;
  padding: 1%;
  text-decoration: none;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 13px;
}

#contactar {
  background: linear-gradient(
      180deg,
      rgba(233, 0, 0, 0.3969) 43.75%,
      rgba(247, 0, 0, 0.81) 100%
    )
    0% 0%;
  border-radius: 15px;
  border-width: 1px;

  height: 30%;
  text-align: center;

  padding: 1%;
  text-decoration: none;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 13px;
}

/* FOOTER */

.footer-container {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
}

.social-icon {
  display: flex;
  gap: 10px;
}

/* LISTAS  PRODUCTOS*/

h3 {
  color: #000000;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: "Mulish";
}
.MENU p,
h2 {
  color: #000000;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.product img {
  width: 360px;
}

.card {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(177, 10, 10, 0.12), 0 1px 2px rgba(0, 0, 0, 0.25);
}
